/* Style de chaque carte */
.card {
  width: 18vw; 
  margin: auto;
  padding: 1rem;
  font-size: 1rem;
  box-sizing: border-box;
  border-radius: 8px;
}

/* Changer le curseur au survol d'une carte */
.card:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

/* Conteneur de l'image dans la carte */
.card-image {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
}