/* Style du booster */
#booster {
  width: 25%;
  height: 50%;
  background-color: gray;
  cursor: pointer;
  padding-top: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  /* Centrage sur l'écran */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centre parfaitement le booster */
}

@media (max-width: 768px) {
  #booster {
    width: 60%; /* Adapte la largeur pour les petits écrans */
    height: 30%; /* Adapte la hauteur pour les petits écrans */
  }
}