/* Conteneur principal pour les cartes */
#cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0% 15%;
  height: 100vh;
}




/* Style du bouton reset */
.reset-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.reset-button:hover {
  background-color: #0056b3;
}

/* Styles pour la modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Adapte la largeur à l’écran */
  height: 100vh; /* Adapte la hauteur à l’écran */
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  width: 90vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-image {
  width: 50%;
  height: auto;
  border-radius: 8px;
}
