/* Conteneur principal */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh; /* Prend toute la hauteur de l'écran */
  overflow: hidden; /* Empêche le défilement */
}

/* Conteneur principal pour les cartes */
#cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0% 15%;
  gap: 1vh 5vw;
  height: 80vh;
}


/* Style du bouton reset */
.reset-button {
  display: flex;
  max-height: 50px;
  height: 20%;
  margin: 8vh auto;
  align-items: center;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.reset-button:hover {
  background-color: #0056b3;
}

/* Styles pour la modal */
.modal {
  position: fixed;
  width: 100vw; /* Adapte la largeur à l’écran */
  height: 100vh; /* Adapte la hauteur à l’écran */
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Contenu de la modal */
.modal-content {
  position: relative;
  width: auto; /* La largeur s'ajuste automatiquement */
  max-width: 90vw; /* Limite la largeur à 90% de l'écran */
  height: 90vh; /* Hauteur fixe à 90% de la hauteur de l'écran */
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 5%;
  overflow: hidden; /* Empêche l'image de dépasser */
}

/* Image dans la modal */
.modal-content img {
  width: 100%; /* L'image prend toute la largeur de .modal-content */
  height: 100%; /* L'image prend toute la hauteur de .modal-content */
  object-fit: fill; /* Remplit la modal et coupe si nécessaire pour éviter l'étirement */
  display: block;
}


@media (max-width: 768px) {
  #cards-container {
    gap: 0vh 0px;
    padding: 0% 10%;
    height: 85vh;
  }

}